<% show_form = (@blank_names || @new_session) %>
<div id="flames_form" style="<%= show_form ? '' : 'display: none;' %> ">
  <%= render :partial => 'home/flames_intro' %>
  <%= form_tag '/' do  %>
    <%= label_tag "name1", "Your name" %>
    <%= text_field_tag 'name1', '' %> <br />
    <%= label_tag "name2", "Your crush's name" %>
    <%= text_field_tag 'name2' %> <br />
    <%= submit_tag "Predict FLAMES", :class => "button" %>
  <% end -%>
</div>