<% show_form = (@blank_names || @new_session) %>
<div id="form" style="<%= show_form ? '' : 'display: none;' %> ">
  <h1>Compute flames</h1>
  <%= form_tag '/' do  %>
    <%= label_tag "name1", "Your name" %>
    <%= text_field_tag 'name1', '' %> <br />
    <%= label_tag "name2", "Your crush's name" %>
    <%= text_field_tag 'name2' %> <br />
    <%= submit_tag "Flames its" %>
  <% end -%>
</div>