<%= render :partial => 'home/result_ad' %>
<div id="result">
  <p>The relation between <em><%= @name1 %></em> and <em><%= @name2 %></em> is</p>
  <h1><%= @relation %></h1>
  <p id="relation_hint">
    <em> <%= flames_relation_hint(@relation) %> </em>
  </p>
  <%= link_to_function "Predict another", "$('result').blindUp(); $('flames_form').blindDown();", :class => "button" %>
</div>